.caca{
  background-color: #B8B8B8;
  border: 7px solid white;
  margin-right:20px;
  margin-left:60px;
  margin-top: 20px;
  padding:0px;
  text-decoration: none;
  border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 0px solid #000000;
list-style: none;
}

p {
color: #000000;
font-family: one sans;
font-size: 14px;
font-weight: bold;
font-style: italic;
width: 300px;
height: 52px;
text-align: center;


}
 .entre-cajas{
color: #000000;
font-family: one sans;
font-size: 20px;
font-weight: bold;
text-align: center;
text-decoration: none;
text-transform: uppercase;
list-style: none;
margin-top: 10px;
margin-bottom: 10px;

}

.img{

  margin-left: 58px;
  text-decoration: none;

}
.caca a{
  padding: 9px;

}
.caca.lom{
height: 40px;

}
h1{
  text-align: center;
  font-family: one sans;
  font-weight: bold;
  font-size: 36px;
}

 .img-emp{

  margin :10px;
  padding: 9px;

 }
.img-ham{
  margin:9px;
}

.img-lom:{
 margin-right: 9px;
}